<div class="imprint-card-container">

  <div class="imprint-card">

    <div class="card-header-section">
      <button (click)="backToLogIn()" class="back-to-log-in-button" >
        <img src="./../../../assets/images/arrow_back.png">
      </button>
    </div>

    <div class="info-container-one">
      <h1>Impressum</h1>
      <span>Adrian Krampikowski</span>
      <span>Wunstorfer Straße 91</span>
      <span>30453 Hannover</span>
    </div>

    <div  class="info-container-two">
      <h1>Kontakt</h1>
      <span>Email: info&#64;adrian-krampikowski.com</span>
    </div>

  </div>

</div>


